.header{
    -fx-background-color: rgba(0,0,0,0.05);
}
.field-enter-message {
}
.button{
    -fx-background-color: transparent;
}
.button FontIcon{
    -fx-fill: #8E5DF1;
}
.button:hover{
    -fx-background-color: rgba(0,0,0,0.05);
    -fx-cursor: hand;
}
.hbox-contain{
    -fx-padding: 5px 10px;
}
.label-mes-fr{
    -fx-label-padding: 5px 10px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: rgba(0,0,0,0.05);
}
.label-mes-self{
    -fx-label-padding: 5px 10px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: #8E5DF1;
    -fx-text-fill: white;
}

